.container-fluid {
  margin: 20px auto;
}
.navbar-toggler-icon {
  color: white;
}
.nav-link {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}

.nav-link:active{
  color: white;
  font-weight: bolder;
}
