.container-fluid {
  margin: 0vw 10vw;
}
.nav-link{
  text-decoration: none;
  color: white;
  position: relative;
  transition: 1s 20000s ;
}
.nav-link:hover{
  text-decoration: none;
  color: white;
  top: -3px;
  transition:0s 0s;
}
a:active{
  text-decoration: none;
  color: white;
}

.burguerMenu{
  color: white;
  font-size: 1.5rem;
}